<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IUnitOfWork" type="Infrastructure.Common.DB.IUnitOfWork, Infrastructure.Common.DB" />
  <alias alias="UnitOfWork" type="Infrastructure.Common.DB.UnitOfWork, Infrastructure.Common.DB" />

  <container>
    <register type="IUnitOfWork" mapTo="UnitOfWork">
      <lifetime type="singleton"/>
    </register>
  </container>
</unity>