.transparent-btn {
float:right;
  background: #343434;
  border: 1px #3498db solid;

  font-family: Arial;
  color: #3498db;
  font-size: 15px;
  padding: 6px 14px 6px 14px;
  text-decoration: none;
  margin-left: 5px;
}

.transparent-btn:hover {
  background: #00b6ff; 
  border: 1px #00b6ff solid;
  color: #fff;
}

.white-border-btn {
    float: right;
    background: #19acff;
    border: 2px #fff solid;
    border-radius:5px;
    font-family: Arial;
    color: #fff;
    font-size: 15px;
    padding: 6px 14px 6px 14px;
    text-decoration: none;
    margin-left: 5px;
}

    .white-border-btn:hover {
        background: #00b6ff;
    }

.green-border-btn {
    float: right;
    background: #57ad53;
    border: 2px #fff solid;
    font-family: Arial;
    color: #fff;
    font-size: 15px;
    padding: 6px 14px 6px 14px;
    text-decoration: none;
    margin-left: 5px;
}

    .green-border-btn:hover {
        background: #3c9338;
    }

.btn-no-border {
    float: none;
    background-color: #fff;
    border: 0px;
    font-family: Arial;
    color: #00b6ff;
    font-size: 16px;
    text-decoration: none;
}

    .btn-no-border:hover {
        font-weight:700;
    }

.green-btn {
    cursor:pointer;
    background-color: #57ad53;
    font-family: Arial;
    color: #fff;
    font-size: 15px;
    padding: 6px 14px 6px 14px;
    text-decoration: none;
    margin-left: 5px;
    max-width: 450px;
}

    .green-btn:hover {
        background: #3c9338;
        color: #fff;
    }


/***** Form Button*****/

.form-btn-transparent {
float:none;
background-color:#fff;
  border: 2px #00b6ff solid;
  font-family: Arial;
  color: #00b6ff;
  font-size: 15px;
  padding: 6px 14px 6px 14px;
  text-decoration: none;
  margin-left: 5px;
}

.form-btn-transparent:hover {
  background: #00b6ff; 
  border: 2px #00b6ff solid;
  color: #fff;
}

.form-btn {
float:none;
background-color:#00b6ff;
  border: 2px #00b6ff solid;
  color: #fff;
  font-size: 15px;
  padding: 6px 14px 6px 14px;
  text-decoration: none;
  margin-left: 5px;
  max-width:590px;
}

.form-btn:hover {
  background: #0880AF; 
  border: 2px #0880AF solid;
  color: #fff;
}

.form-btn-search {
    width:100%;
    float: none;
    background-color: #00b6ff;
    border: 1px #00b6ff solid;
    border-radius:0;
    font-family: Arial;
    color: #fff;
    font-size: 15px;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
}

    .form-btn-search:hover {
        background: #3498db;
        border: 1px #3498db solid;
    }   
