div.tab {
    float: left;
    width: 20%;
    height: 100%;
    position: relative;
    z-index: 3;
}

    div.tab input {
        display: block;
        background-color: transparent;
        color: #00b6ff;
        padding: 15px 30px;
        min-width: 230px;
        border: 2px #00b6ff solid;
        outline: none;
        cursor: pointer;
        transition: 0.5s;
        font-size: 15px;
        font-weight: 400;
        margin-top: 5px;
    }

        div.tab input:hover {
            background: #00b6ff;
            border: 2px #00b6ff solid;
            color: #fff;
        }

        div.tab input.active {
            background-color: #00b6ff;
            color: #fff;
            border: 2px #00b6ff solid;
        }

.tabcontent {
    float: left;
    margin-left: 50px;
    width: 75%;
    height: 100%;
    z-index: 2;
}

.tabcontent-gallery {
    float: left;
    margin-left: 50px;
    width: 75%;
    height: 100%;
}

.thumb {
    margin: 5px;
    width: auto;
    height: 180px;
    display: inline-block;
    float: left;
}

.btn-position {
    float: left;
    margin: 0 0 50px 0;
    width: 100%
}

@media(max-width:1200px) {
    .tabcontent-gallery {
        margin-left: 70px;
        width: 70%;
    }

    .tabcontent {
        margin-left: 70px;
        width: 70%;
    }
}

@media(max-width:1000px) {
    .tabcontent-gallery {
        margin-left: 120px;
        width: 60%;
    }

    .tabcontent {
        margin-left: 120px;
        width: 60%;
    }
}

@media (max-width:760px) {
    .tabcontent-gallery {
        float: none;
        margin: 0px;
        width: 100%;
    }

    .tabcontent {
        float: none;
        margin: 0px;
        width: 100%;
    }

    .btn-position {
        margin: 10px 0 30px 0;
    }

    .thumb {
        height: 100px;
        float: none;
        text-align: center;
    }

    div.tab {
        width: 100%;
    }

        div.tab input {
            width: 100%;
        }
}

.val-message {
    height: 20px;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
}

.modal-content {
    height: 100%;
    border-radius: 0;
}

/***************Edit gallery*******************/

div.polaroid {
    width: 230px;
    height: 200px;
    background-color: #f8f8ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 40px 40px 0;
    float: left;
    position: relative;
}

    div.polaroid img {
        width: 100%;
        height: auto;
    }

div.polaroid-batch {
    width: 230px;
    height: 290px;
    background-color: #f8f8ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 40px 40px 0;
    float: left;
    position: relative;
}

    div.polaroid-batch img {
        width: 100%;
        height: auto;
    }

div.con-tainer {
    height: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

div.over-flow-hidden {
    overflow: hidden;
}

.btn-space {
    margin: 10px 10px;
}

.center-div-up {
    margin: 0 auto;
    max-width: 500px;
}

div.btm {
    display: inline-block;
    width: 100%
}

div.btm-desc {
    width: 100%;
    border-bottom: 1px solid #ccc;
    text-align: left;
    height: 50px;
}

.desc {
    margin: 10px;
    text-overflow: ellipsis;
}

.chBox {
    float: left;
    margin: 15px 0 0 20px;
}

.btn-space-5 {
    margin: 5px;
}

.btn-right {
    position: relative;
    bottom: 0;
    right: 0;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.zoom img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.zoom:hover img {
    -webkit-transform: scale(1.25); /* Safari and Chrome */
    -moz-transform: scale(1.25); /* Firefox */
    -ms-transform: scale(1.25); /* IE 9 */
    -o-transform: scale(1.25); /* Opera */
    transform: scale(1.25);
}

.rating {
    background: green;
    position: absolute;
    z-index: 999;
    width: 100px;
    height: 100px;
}

.hidden {
    display: none;
}

.zoomzoom {
    width: 100%;
    display: block;
    height: 150px;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

    .zoomzoom:hover {
        -webkit-transform: scale(1.25); /* Safari and Chrome */
        -moz-transform: scale(1.25); /* Firefox */
        -ms-transform: scale(1.25); /* IE 9 */
        -o-transform: scale(1.25); /* Opera */
        transform: scale(1.25);
    }


input[type=checkbox] {
    transform: scale(1.8);
    margin: 5px;
}

/************ACCORDION*************/
.accordion-toggle {
    text-align: left;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    color: #fff;
    background-color: #00b6ff;
    margin-bottom: 4px;
    text-transform: uppercase;
    float: left;
    z-index: 2;
}

.accordion-main {
    padding: 9px;
}

.accordion-content {
    width: 100%;
    float: left;
    padding: 30px 0 15px 0;
}

.settings_wrapper {
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    width: 98%;
    margin-left: 10px;
}

    .settings_wrapper div {
        height: 40px;
    }

.email_settings_wrapper {
    overflow: hidden;
    width: 98%;
    margin-left: 30px;
}

    .email_settings_wrapper div {
        height: 25px;
    }

.role_base {
    float: left;
}

.role_settings_wrapper {
    overflow: hidden;
    width: 100%;
}

    .role_settings_wrapper div {
        min-height: 25px;
    }

.text_div {
    margin-top: 15px;
    float: left;
    margin-right: 10px;
    width: 80%;
}

.toggle_div {
    overflow: hidden;
    margin: 10px;
    height: 30px;
}

.role_toggle_div {
    float: left;
    overflow: hidden;
    margin: 0 10px 6px 0;
    min-height: 30px;
}

.role_text_div {
    margin-top: 1px;
}

.email_text_div {
    margin-top: 12px;
}

.email_toggle_div {
    float: left;
    overflow: hidden;
    margin: 10px;
    height: 30px;
}

.box_div {
    overflow: hidden;
    height: 40px;
    margin-top: 10px;
}

@media screen and (max-width: 400px) {
    .text_div {
        float: none;
        margin-right: 0;
        width: auto;
        border: 0;
    }
}

.edit_container {
    float: left;
    width: 100%;
    text-align: left;
}

.member_list_text {
    min-width: 100%;
    font-size: 20px;
    text-align: left;
    margin: 55px 0 10px 5px;
}

.member_list_wrapper {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    height: 50px;
}

.member_blocks {
    display: block;
    box-sizing: border-box
}

.member_left {
    width: 20%;
    float: left;
}

.member_middle {
    margin: 6px 0 0 15px;
    width: auto;
    float: left;
}

.member_right{
    width:20%;
    float:right;
    margin-bottom: 5px;
}

    .member_list_wrapper:before,
    .member_list_wrapper:after {
        content: " "; 
        display: table;
    }

    .member_list_wrapper:after {
        clear: both;
    }

.tags_list_wrapper {
    min-width: 100% !important;
    margin-top:5px;
}

.tags_blocks {
    display: inline-block;
    height:30px;
    box-sizing: border-box;
    float: left;
    margin:0 5px 5px 0;
    padding-left: 5px;
    border: 1px solid #00b6ff;
}

.tags_text {
    float: left;
    font-size: 15px;
    margin: 4px 10px 0 0;
    text-align: left;
}

.tags_block-text {
    float: left;
    color: #00b6ff;
    font-size: 15px;
    margin: 3px 10px 0 0;
    text-align: left;
}

.tags_block-symbol {
    float: right;
    margin-top: 3px;
    padding-right: 5px;
    font-size: 15px;
    cursor:pointer;
}

@media (max-width: 500px) {
    .member_blocks {
        width: 100%;
    }

    .member_list_wrapper {
        width: 100%;
        height:auto;
    }
    .member_left{
        margin-bottom:10px;
    }
    .member_middle{
        margin: 0 auto;
        float:none;
        text-align:center;
    }
}
