<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EmailConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <section name="SmsConfiguration" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <EmailConfiguration>
    <add key="From" value="nieco@ebado.com"/>
    <add key="Server" value="127.0.0.1"/>
    <add key="Port" value="25"/>
    <add key="User" value="ebado"/>
    <add key="Password" value="password123"/>
  </EmailConfiguration>
  <SmsConfiguration>
    <add key="Server" value="127.0.0.1"/>
    <add key="ApiKey" value="apikey"/>
  </SmsConfiguration>
</configuration>