<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c49242c2-bf0d-4d37-a09d-951d21282242/resourcegroups/eBadoResGroup/providers/Microsoft.Web/sites/ebadoweb</ResourceId>
    <ResourceGroup>eBadoResGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ebadoweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ebadoweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ebadoweb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ebadoweb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Infrastructure.Common.DB.EBADOEntitiesTest" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Infrastructure.Common.DB.EBADOEntitiesTest, Infrastructure.Common.DB" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="dbsLoggingBackup" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ebadodbsrvbackup.database.windows.net;Initial Catalog=dbsLogging;User ID=ebadoadmin;Password=ebado.159" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbsLoggingBackup_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=ebadodbsrvbackup.database.windows.net;Database=dbsLogging;User Id=ebadoadmin;Password=ebado.159;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="dbsLogging" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ebadodbsrv.database.windows.net;Initial Catalog=dbsLogging;User ID=ebadoadmin;Password=ebado.159" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbsLogging_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=ebadodbsrv.database.windows.net;Database=dbsLogging;User Id=ebadoadmin;Password=ebado.159;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbsLogging-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbsLoggingBackup-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Infrastructure.Common.DB.EBADOEntitiesTest-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Infrastructure.Common.DB.EBADOEntitiesTest" />
  </ItemGroup>
</Project>