<?xml version="1.0" encoding="utf-8"?>
  <appSettings>
    <add key="Email_From" value="ebado.test@gmail.com"/>
    <add key="Email_Server" value="smtp.gmail.com"/>
    <add key="Email_Port" value="587"/>
    <add key="Email_UseSsl" value="true"/>
    <add key="Email_Login" value="ebado.test"/>
    <add key="Email_Password" value="ebado159"/>
    <add key="Email_DisplayName" value="eBado"/>
    <add key="ReCaptcha_Uri" value="https://www.google.com/recaptcha/api/siteverify?secret={0}&amp;response={1}"/>
    <add key="ReCaptcha_SecretKey" value="6LdzKzAUAAAAAJRf-aeg2oPACN8BcV6VohlXXGj2"/>
    <add key="ReCaptcha_PublicKey" value="6LdzKzAUAAAAAKr8F8hO-jim8eSb7aZq70mw6qUm"/>
  </appSettings>
