<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IUnitOfWork" type="Infrastructure.Common.DB.IUnitOfWork, Infrastructure.Common.DB" />
  <alias alias="UnitOfWork" type="Infrastructure.Common.DB.UnitOfWork, Infrastructure.Common.DB" />
  <alias alias="IEmailSender" type="Messaging.Email.IEmailSender, Messaging.Email" />
  <alias alias="SmtpEmailSender" type="Messaging.Email.SmtpEmailSender, Messaging.Email" />
  <alias alias="IConfiguration" type="WebAPIFactory.Configuration.Core.IConfiguration, WebAPIFactory.Configuration.Core" />
  <alias alias="Configuration" type="WebAPIFactory.Configuration.Core.Configuration, WebAPIFactory.Configuration.Core" />
  <alias alias="IFilesBusinessObjects" type="eBado.BusinessObjects.IFilesBusinessObjects, eBado.BusinessObjects" />
  <alias alias="FilesBusinessObjects" type="eBado.BusinessObjects.FilesBusinessObjects, eBado.BusinessObjects" />
  <alias alias="ICache" type="WebAPIFactory.Caching.Core.ICache, WebAPIFactory.Caching.Core" />
  <alias alias="HttpCacheHelper" type="WebAPIFactory.Caching.Core.HttpCacheHelper, WebAPIFactory.Caching.Core" />
  <alias alias="IJobClient" type="BackgroundProcessing.Common.IJobClient, BackgroundProcessing.Common" />
  <alias alias="HangfireJobClient" type="BackgroundProcessing.Hangfire.HangfireJobClient, BackgroundProcessing.Hangfire" />


  <container>
    <register type="IUnitOfWork" mapTo="UnitOfWork">
      <lifetime type="singleton"/> 
    </register>
    <register type="IEmailSender" mapTo="SmtpEmailSender"/>
    <register type="IConfiguration" mapTo="Configuration"/>
    <register type="IFilesBusinessObjects" mapTo="FilesBusinessObjects"/>
    <register type="ICache" mapTo="HttpCacheHelper"/>
    <register type="IJobClient" mapTo="HangfireJobClient"/>   
  </container>
</unity>
